<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request.args</title>
    <!-- If i want that i am doing something like that http://127.0.0.1:5000/?name=Jack&tokens=89000 -->
    <!-- It will change the data according to this how i can do that?? -->
    <!-- You can do this by using query parameter -->
</head>
<body>
    <h1>Hey welcome back {{name}}</h1>
    <p>
        You have limit of {{token}} tokens
    </p>
</body>
</html>