{% extends 'base.html' %}
{% block title %}Welcome to Wilderness Zoo{% endblock %}

{% block content %}
<h1>Welcome to Wilderness Zoo!</h1>
<div class="flex-row margin-bottom">
  <div class="card sky-bg">
    <h2>🦒 Today's Special Exhibits</h2>
    <ul class="no-bullets">
      <li>🐘 Elephant Feeding – 11:00 AM</li>
      <li>🦁 Lion King Show – 2:00 PM</li>
      <li>🐧 Penguin Parade – 4:00 PM</li>
    </ul>
  </div>
  <div class="card safari-bg">
    <h2>🦓 Zoo Hours</h2>
    <p>Open daily from 9:00 AM to 6:00 PM</p>
    <p>Last admission at 5:00 PM</p>
  </div>
</div>
<div class="arrival-section">
  <h2>🐘 Meet Our New Arrivals!</h2>
  <p>Welcome baby giraffe “Spots” and twin pandas “Bamboo” & “Leaf” to the Wilderness family!</p>
  <div class=" arrivals-icons">
    <span>🦒</span><span>🐼</span><span>🐼</span>
  </div>
</div>
{% endblock %}
